
*{
    font-family: "Protest Riot", sans-serif;

  padding: 0;
  margin: 0;
}
a{
    color: aliceblue;
    text-decoration: none;
}
body{
    background-image:linear-gradient(to right ,rgb(2, 2, 66),black) ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    
   background-image: 
  linear-gradient(to right,rgba(12, 12, 107, 0.541) 30% ,transparent   ),
  url(av.jpg)

   ;
   background-position: center;
 width: 90%;
 height: 500px;
 
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
font-size: 30px;
text-transform: uppercase;
}
ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    border-bottom: 2px solid transparent;
}
ul a:hover{
    border-bottom-color: aliceblue ;

} .content{
    
    color: aliceblue;
    width: 50%;
    margin-top: 50px;
    padding: 30px;

}
.content h2{
    font-size: 80px;
    text-transform: uppercase;
}
.content{
    letter-spacing: 3px;
    width: 300px;
    padding: 19px ;
}
.content button{
    font-size: 25px;
    border-radius: 4px;
    padding: 5px 7px;
    border: 1px solid transparent;
    cursor: pointer;
} .content button:hover{
    background-color: transparent;
    border-color: rgb(255, 240, 240);
}
 


